<template>
  <v-card
      class="mx-auto"
      min-width="344">
    <v-card-text>

    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "elelentCard"
}
</script>

<style scoped>

</style>